body {
    font-family: Arial, sans-serif;
}

.form-style {
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-style h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-style label {
    display: block;
    margin-bottom: 5px;
}

.form-style input[ type="text"], .form-style input[type="email"], .form-style input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-style input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-style input[type="submit"]:hover {
    background-color: #45a049;
}
